.root{
   -fx-background-image: url("images/LOGO_RIBERA_DE_CASTILLA/LOGO_TRANSPARENTE_COLOR_GRANDE.png");
   -fx-background-size: contain;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
}

.button:hover{
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}